fastapi
uvicorn
langchain
langchain-community
langchain-classic
langchain-text-splitters
chromadb
pypdf
sentence-transformers
python-multipart
passlib[bcrypt]
python-jose[cryptography]
email-validator
langchain-google-genai

# fastapi
# uvicorn[standard]
# langchain
# langchain-google-genai
# langchain-community
# chromadb
# pypdf
# sentence-transformers
# python-multipart
