fastapi
uvicorn
langchain
langchain-community
chromadb
pypdf
sentence-transformers
python-multipart
langchain-google-genai
passlib[bcrypt]
python-jose[cryptography]

# fastapi
# uvicorn[standard]
# langchain
# langchain-google-genai
# langchain-community
# chromadb
# pypdf
# sentence-transformers
# python-multipart
